@font-face {
  font-family: "GeneralSans-Regular";
  src: url(./GeneralSans-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "GeneralSans-Regular";
}
html,
body {
  width: 100vw;
  background-color: black;
}
#minicircle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;
  z-index: 999999;
  position: absolute;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#minicircle .view {
  opacity: 0;
  font-weight: 900;
  color: black;
}
#main {
  width: 100vw;
  position: relative;
}
#welcomePage {
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: #b5b5b5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
}
#content {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1rem;
}
#content h4 {
  font-size: 1rem;
  text-wrap: nowrap;
}
#container {
  width: 7vh;
}
#progressBar {
  width: 0%;
  height: 2px;
  background-color: black;
}

#landingPage {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
  position: relative;
}
nav {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#topNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topNav a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 900;
  cursor: pointer;
}
nav #logo {
  font-size: 1.1rem;
}
nav #menuSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
#menuLogo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#menuLogo #menu {
  font-size: 1rem;
}
#menuLogo #menu span {
  opacity: 0.6;
}
#menuSection #menuList {
  display: none;
  overflow: hidden;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.05rem;
  font-weight: 900;
}
#menuList ul {
  flex-direction: row;
}
#menuList ul li {
  margin-left: 4rem;
}
#closeMenu {
  display: none;
}
#menuPage {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 9vh;
}
#menuPage ul {
  align-items: flex-start;
}
#menuPage ul li {
  padding: 0.6vh 0;
}
#menuPage ul li a {
  font-size: 5vh;
  color: black !important;
}
#fullPage {
  height: 100vh;
  background-color: #a2a1a1;
  position: relative;
}
#navPageFooter {
  width: 100%;
  position: absolute;
  bottom: 0.1vh;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 3vw;
  color: black;
  border-top: 1px solid white;
}
#navPageFooter p {
  font-size: 1.8vh;
  font-weight: 900;
}
#fullPage a {
  color: black !important;
}
#fullPage #topNav {
  border-bottom: 0.1px solid white;
}
#heading {
  width: fit-content;
  margin-top: 12vh;
  padding: 0 3vw;
}
#heading h1 {
  font-size: 10vw;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0.7;
  line-height: 0.9;
}
#heading h4 {
  font-size: 0.95vw;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 3;
}
#textRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  left: 10vw;
}
#textRight h4 {
  font-size: 0.9vw;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 3;
  text-align: right;
}
#rightHeading {
  margin-top: 10vh;
  padding: 0 3vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#rightHeading h4 {
  text-transform: uppercase;
  line-height: 2;
  font-size: 1vw;
}

#lanPGFooter {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 3vw;
  position: absolute;
  bottom: 10px;
  opacity: 0;
}
.lanPG-elem {
  overflow: hidden;
}
.lanPG-elem a {
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
}
#iconContainer {
  display: flex;
  gap: 5px;
}
#iconContainer .icon {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  background-color: whitesmoke;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#iconContainer .icon a {
  text-decoration: none;
}
#iconContainer .icon i {
  z-index: 999;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

.bounding {
  width: fit-content;
  overflow: hidden;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.boundingElemUP {
  transform: translateY(100%);
}
.boundingElemDOWN {
  transform: translateY(0%);
}

#secondPage {
  width: 100%;
  height: 100vh;
  background-color: black;
  padding-top: 200px;
  padding-left: 3vw;
  padding-right: 12vw;
}
.elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5vh 0;
  color: whitesmoke;
  border-top: 1px solid #888;
}
.elem img {
  opacity: 0;
  pointer-events: none;
  height: 140%;
  position: absolute;
  z-index: 999;
  transform: translate(-50%, -50%);
}
.elem h1 {
  font-size: 7vw;
  opacity: 0.7;
  text-transform: uppercase;
  transition: all ease-in-out 0.5s;
}
.elem h5 {
  font-size: 1vw;
  font-weight: bold;
}
.lastElem {
  border-bottom: 1px solid #888;
}
#about {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  color: whitesmoke;
  margin-top: 45vh;
  gap: 5vh;
  padding: 3vh 3vw;
  margin-right: 15vh;
}
#about img {
  height: 20rem;
  width: 20rem;
}

#aboutText {
  display: flex;
  flex-direction: column;
  width: 50vh;
  text-wrap: wrap;
}
#aboutText h5 {
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
}
#aboutText p {
  font-size: 1.1rem;
  line-height: 1.6;
}
#aboutText a {
  margin-top: 15px;
  text-decoration: none;
  color: whitesmoke;
  padding: 5px 22px;
  border: 1px solid white;
  border-radius: 50px;
  width: fit-content;
}
#aboutText a:hover {
  background-color: white;
  color: black;
}
#subscribe {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 3vw;
}
#subscribe .textOpacity {
  opacity: 0.7;
}
#subscribe h5 {
  text-transform: uppercase;
  color: whitesmoke;
  line-height: 1.8;
  overflow: hidden;
}
.container {
  overflow: hidden;
}
footer {
  width: 100%;
  padding: 4vh 3vw;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}

footer #leftFooter {
  display: flex;
  gap: 20px;
}
footer #rightFooter {
  display: flex;
  gap: 5vh;
}
#rightFooter a {
  text-transform: uppercase;
  color: whitesmoke;
  text-decoration: none;
  overflow: hidden;
}
.line {
  width: 100%;
  background-color: white;
  height: 1px;
  transform: translateX(-101%);
}

@media screen and (min-width: 600px) and (max-width: 882px) {
  #heading h1 {
    font-size: 12vh;
  }
  #heading h4 {
    font-size: 1.5vh;
  }
  #rightHeading h4 {
    font-size: 1.2vh;
  }
  #lanPGFooter a {
    font-size: 1.5vh;
  }
  #secondPage h1 {
    font-size: 9vh;
  }
  #secondPage h5 {
    font-size: 1.3vh;
  }
  #about {
    margin-right: 10vh;
    margin-top: 20vh;
  }
  #about img {
    height: 20vh;
    width: 20vh;
  }
  #aboutText {
    width: fit-content;
  }
  #aboutText p {
    font-size: 1.4vh;
  }
  #subscribe h5 {
    font-size: 1.2vh;
  }
  #leftFooter p {
    font-size: 1.25vh;
  }
  #rightFooter a {
    font-size: 1.25vh;
  }
}

@media screen and (max-width: 600px) {
  #minicircle {
    display: none;
  }
  nav {
    padding-top: 2vh;
  }
  #menuLogo #heading h1 {
    font-size: 8vh;
  }
  #heading {
    margin-top: 25vh;
    padding: 0 3rem;
  }
  #heading h4 {
    font-size: 1.3vh;
  }
  #rightHeading {
    margin-top: 5vh;
    padding: 0 3rem;
  }
  #rightHeading h4 {
    font-size: 1.05vh;
  }
  #lanPGFooter {
    padding: 2rem 3rem;
  }
  #lanPGFooter a {
    font-size: 1.1vh;
  }
  #iconContainer {
    display: none;
  }
  #secondPage {
    height: 100%;
    padding: 2rem 3rem;
  }
  .elem {
    padding: 2vh 0;
  }
  .elem img {
    display: none;
  }
  #secondPage h1 {
    font-size: 5vh;
  }
  #secondPage h5 {
    font-size: 1.1vh;
  }
  #about {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    margin-top: 12vh;
    padding: 2rem 3rem;
  }
  #about img {
    height: 25vh;
    width: 25vh;
  }
  #aboutText {
    width: fit-content;
    text-wrap: wrap;
    padding-right: 3vh;
  }
  #aboutText p {
    font-size: 1.5vh;
  }
  #subscribe {
    margin-top: 7vh;
    padding: 2rem 3rem;
  }
  #subscribe h5 {
    font-size: 1.2vh;
  }
  footer {
    justify-content: space-between;
    margin-top: 10vh;
    padding: 0 3rem;
  }

  footer #leftFooter {
    gap: 5px;
  }
  #leftFooter p {
    font-size: 1.2vh;
  }
  footer #rightFooter {
    display: flex;
    gap: 10px;
  }
  #rightFooter a {
    font-size: 1.2vh;
  }
}
